@import 'reset';

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue-Regular.eot");
    src: 
    url("fonts/BebasNeue-Regular.woff") format("woff"),
    url("fonts/BebasNeue-Regular.otf") format("opentype")
    }

$gray: #2d2d2d;
$light-gray: #494949;
$white: #ffffff;
$black: #000000;
$rose: #de1d3e;

body {
    font-family: 'Montserrat', sans-serif;
    &.has-mob {
        .mob {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
            -webkit-transition-delay: .2s;
            transition-delay: .2s;
        }
    }
}

.row {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

header {
    background: $gray;
    color: $white;
    .main-nav {
        padding: 5px 10px;
        position: relative;
        @media (min-width: 768px) {
            padding: 15px 10px;
        }
        .header-logo {
            float: left;
            height: 34px;
            @media (min-width: 768px) {
                height: auto;
            }
        }
        a {
            display: inline-block;
        }
        nav {
            text-align: right;
            max-width: 1000px;
            float: right;
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
            a {
                color: inherit;
                font-size: 14px;
                margin-left: 14px;
                text-decoration: none;
                line-height: 60px;
                font-weight: 500;
                @media (min-width: 992px) {
                    font-size: 18px;
                    margin-left: 36px;
                }
            } 
        }
        .mob-sch {
            position: absolute;
            color: white;
            text-decoration: none;
            right: 7px;
            bottom: -26px;
            z-index: 99;
            background: $rose;
            padding: 5px 10px;
            @media (min-width: 768px) {
                display: none !important;
            }
        }
        .mob-tel {
            float: right;
            color: $white;
            text-decoration: none;
            line-height: 40px;
            margin: 0 17px 0 0;
            @media (min-width: 768px) {
                display: none !important;
            }
        }
    }

    .mob {
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #fff;
        color: $gray;
        right: 0;
        top: 0;
        bottom: 0;
        width: 334px;
        z-index: 1000;
        padding: 20px 35px;
        overflow: auto;
        visibility: hidden;
        opacity: 0;
        transform: translate3d(60%, 0, 0);
        -webkit-transition: visibility 0.3s,opacity 0.3s,transform 0.3s;
        -o-transition: visibility 0.3s,opacity 0.3s,transform 0.3s;
        transition: visibility 0.3s,opacity 0.3s,transform 0.3s;
        .mob-menu {
            a {
                text-decoration: none;
                margin-bottom: 4px;
                display: block;
                padding-bottom: 6px;
                margin-bottom: 6px;
                color: $gray;
                border-bottom: 1px solid $light-gray;
            }
            span {
                font-size: 20px;
                display: block;
                margin-top: 30px;
            }
        }
    }
}

.hamburger {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $white;
        margin: 3px 0;
    }
    @media (min-width: 768px) {
        display: none;
        visibility: hidden;
    }
}

.sub-nav {
    border-top: 1px solid $light-gray;
    text-align: right;
    color: $rose;
    padding: 10px 0;
    @media (max-width: 768px) {
        display: none;
    }
    a, span {
        color: inherit;
        text-decoration: none;
        line-height: 34px;
        border-right: 1px solid $light-gray;
        margin-right: 20px;
        padding-right: 20px;
        &:last-child {
            border: 0;
            padding: 0;
            margin: 0;
        }
    }
}



.banner {
    height: 370px;
    background: url('../images/hero.jpg') no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
        height: 620px;
    }
    .tagline {
        font-family: "BebasNeue";
        color: $white;
        text-transform: uppercase;
        font-size: 42px;
        line-height: 48px;
        align-self: center;
        max-width: 900px;
        @media (min-width: 768px) {
            font-size: 72px;
            line-height: 74px;
        }
        span {
            display: inline-block;
            background-color: $rose;
            padding: 4px 4px 0 4px;
            @media (min-width: 768px) {
                padding: 8px 4px 0 4px;
            }
        }
    }
}